/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2017, 10:12:34 PM
    Author     : RyanFox
    Version:1.0
*/

.menu_nav{
    
    height:100%;
    width:0;
    z-index: 1;
    top:0;
    left:0;
    background-color:#48b5f9;
    overflow-x:hidden;
    position: fixed;
    transition:1s;
    padding-top:60px;
    
}

.menu_nav a {
    
   font-family: sans-serif;
   font-size: 25px;
   color:#ffffff;
   display:block;
   text-decoration:none;
   padding:10px;
}
.menu_nav a:hover{
    
    color:lightgray;
}

.menu_nav span{
    font-family: sans-serif;
    font-size: 25px;
    color:#ffffff;
    display:block;
    padding:10px;
    width:100%;
    font-weight:bold;


}








